.btn-1 {
        background-color: blue;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
      }
.btn-1 {background-color: blue}

.btn-1:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn-2 {
        background-color: blue;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
      }
.btn-2 {background-color: blue}

.btn-2:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn-3 {
        background-color: blue;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
      }
.btn-3 {background-color: blue}

.btn-3:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn-4 {
        background-color: blue;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
      }
.btn-4 {background-color: blue}

.btn-4:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn-5 {
        background-color: blue;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
      }
.btn-5 {background-color: blue}

.btn-5:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}