.btn-1 {
        background-color: blue;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
      }
.btn-1 {background-color: blue}

.btn-1:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.btn-2 {
        background-color: blue;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
      }
.btn-2 {background-color: blue}

.btn-2:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.header {
  padding: 30px;
  text-align: center;
  background: #4555EB;
  color: white;
  font-size: 30px;
  width: 100%;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}